<app-header-common></app-header-common>
<div class="resumecontent">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-left">
        <div class="card-container">
            <div class="card">
                <div class="front">
                    <div class="first_half">
                        <h1 class="title">
                            Hemand Raj
                        </h1>
                        <p class="sub-title">
                            My self Hemand Raj, passionate Software Engineer, bringing life towards achieving passion
                            and success. Working as a System Engineer in Tata Consultancy Service. Started career at 4z
                            technologies as a technical mentor and System Engineer.
                        </p>
                        <p class="sub-title">
                            Email : <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hemandraj20@gmail.com"
                                class="link_style">hemandraj20@gmail.com</a>
                        </p>
                        <p class="sub-title">
                            LinkedIn : <a href="https://www.linkedin.com/in/hemand-raj-7871a0a9/"
                                class="link_style">Hemand Raj</a>
                        </p>
                        <p class="sub-title">
                            GitHub : <a href="https://github.com/hemandraj2" class="link_style">hemandraj2</a>
                        </p>
                    </div>
                    <div class="second_half">
                        <span class="abount_personal_image"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>