<div class="container">
    <div class="header-common-area">
        <div class="header-item">
            <div class="header-home-area" routerLink="/home" routerLinkActive="active">
                <span class="home-icon"></span>
                <p class="header-home-text header-nav-text">
                    HOME
                </p>
            </div>
        </div>
        <div class="header-item">
            <div class="header-about-area" routerLink="/about" routerLinkActive="active">
                <span class="about-icon"></span>
                <p class="header-about-text header-nav-text">
                    ABOUT
                </p>
            </div>
        </div>
        <div class="header-item">
            <div class="header-resume-area" routerLink="/resume" routerLinkActive="active">
                <span class="resume-icon"></span>
                <p class="header-resume-text header-nav-text">
                    RESUME
                </p>
            </div>
        </div>
        <div class="header-item">
            <div class="header-portfolio-area" routerLink="/portfolio" routerLinkActive="active">
                <span class="portfolio-icon"></span>
                <p class="header-portfolio-text header-nav-text">
                    PORTFOLIO
                </p>
            </div>
        </div>
    </div>
</div>