<div class="col-2 col-sm-2 col-md-2 col-lg-3 float-left">
    <app-header></app-header>
</div>
<div class="col-10 col-sm-10 col-md-10 col-lg-9 float-left">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 float-left">
                    <div class="datawrapper">
                        <h1 class="personalname">
                            HEMAND RAJ
                        </h1>
                        <p>
                            <span class="iamatext">I'm </span>
                            <span id="typewriter" class="roletext"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>