<app-header-common></app-header-common>
<div class="protfolio_overview">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 float-left">
                    <div class="mt-5">
                        <div class="mobile_input">
                            <input class="form-control" #dropdown_custom (click)="customDropdownClicked()" (change)="customDropdownChanged()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>