<div class="protfolio_overview">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 float-left">
                    <div class="mt-5">
                        <div class="mobile_input">
                            <input class="form-control" [(ngModel)]="multiDropdown" #dropdown_custom
                                (click)="multiDropdownClicked()" (change)="multiDropdownChanged()"
                                (focus)="multiDropdownFocused()" (input)="multiDropdownTyped()"
                                (blur)="multiDropdownInputBlur()"/>
                            <div class="custom_dropdown_suggestion_box" *ngIf="multiBoxActive">
                                <p class="custom_dropdown_suggestion_item" *ngFor="let data of multidropdownDataTemp"
                                    (click)="multiItemClicked(data)">
                                    {{data}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 float-left">
                    <div class="mt-5">
                        <div class="mobile_input">
                            <input class="form-control" [(ngModel)]="customDropdown" #dropdown_custom
                                (click)="customDropdownClicked()" (change)="customDropdownChanged()"
                                (focus)="customDropdownFocused()" (input)="customDropdownTyped()"
                                (blur)="customDropdownInputBlur()"/>
                            <div class="custom_dropdown_suggestion_box" *ngIf="suggestionBoxActive">
                                <p class="custom_dropdown_suggestion_item" *ngFor="let data of dropdownDataTemp"
                                    (click)="itemClicked(data)">
                                    {{data}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 float-left">
                    <div class="mt-5">
                        <input type="text" class="table_search_input" [(ngModel)]="searchText" />
                        <table class="table table-bordered table-hover">
                            <tr>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Phone</td>
                            </tr>
                            <tr *ngFor="let data of (tableSrachData|searchData:searchText)">
                                <td>{{data.name}}</td>
                                <td>{{data.email}}</td>
                                <td>{{data.phone}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>