@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
body{
    background-image: url('./assets/img/hemand-background.jpg');
    background-color: #f0f0f0;
    background-size: cover;
    background-repeat: no-repeat;
}
@media(max-width:1199.98px){
    body{
        background-image: url('./assets/img/hemand-background-large-tab.jpg');
    }
}
@media(max-width:767.98px){
    body{
        background-image: url('./assets/img/hemand-background-mobile.jpg');
    }
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 12px;
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: #ff8888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #ff4545; 
}